<h1>Registration Form</h1>
<div>
  <form #registrationForm="ngForm" (ngSubmit)="register(registrationForm)">
    <!-- ngModel is mandatory to use for every control otherwise data will not be transferred -->
    <!-- REQUIRED is the validation -->
    <div>
      First Name:
      <input
        type="text"
        placeholder="Enter first name"
        name="firstName"
        ngModel
        required
        minlength="3"
        maxlength="15"
        #fname="ngModel"
      /><br />
      <span class="error" *ngIf="fname.touched && fname.errors">
        <ng-container
          *ngIf="
            fname.errors['required'] &&
            !fname.errors['minlength'] &&
            !fname.errors['maxlength']
          "
        >
          First Name is required
        </ng-container>
        <ng-container *ngIf="fname.errors['minlength']">
          First Name must be at least 3 characters
        </ng-container>
        <ng-container *ngIf="fname.errors['maxlength']">
          First Name must be no more than 15 characters
        </ng-container>
      </span>
    </div>
    <div>
      Last Name:
      <input
        type="text"
        placeholder="Enter last name"
        name="lastName"
        ngModel
        required
        minlength="3"
        maxlength="15"
        #lname="ngModel"
      /><br />
      <span class="error" *ngIf="lname.touched && !lname.valid"
        >Last Name is required</span
      >
    </div>
    <div>
      Email:
      <input
        type="text"
        placeholder="Enter email"
        name="email"
        ngModel
        required
        minlength="5"
        maxlength="30"
        #email="ngModel"
      /><br />
      <span class="error" *ngIf="email.touched && !email.valid"
        >Email is required</span
      >
    </div>
    <input
      type="submit"
      value="Register"
      [disabled]="registrationForm.invalid"
    />
  </form>
</div>
