<h1>Counter Component</h1>

<!-- ViewChild Access example -->
<button type="button" (click)="increment()">Plus</button>&nbsp;
<button type="button" (click)="decrement()">Minus</button>
<app-show-counter></app-show-counter>

<!-- ViewChildren Example -->
<!-- <app-show-counter name="Vaibhav"></app-show-counter>
<app-show-counter name="Rahul"></app-show-counter>
<app-show-counter name="Shubham"></app-show-counter>
<app-show-counter name="Pawan"></app-show-counter> -->

<!-- Checking if calling Cgild Comp and simultaneously injecting its dependency will work -->
<!-- <app-childof-student></app-childof-student> -->
