/* You can add global styles to this file, and also import other style files */
.detail{
    background-color: burlywood;
    text-align: center;
    text-decoration: dotted;
    color: black;
    font-weight: bolder;
    font-size: medium;
}